<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Volunsport - Login</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}media/webphonebook-32x32.png" type="image/x-icon" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    </head>
    <body>
        <header>
            <img src="{{ STATIC_URL }}media/webphonebook-64x64.png" />
       <!--     <span>WebPhoneBook</span>    -->
        </header>
        <section id="sectionLogin">
            <form action="{% url login %}" method="post">
                {% csrf_token %}
                <table id="tabLogin">
                    <tr>
                        <td class="cellLogin1">{{ form.username.label_tag }}:</td>
                        <td class="cellLogin2">{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td class="cellLogin1">{{ form.password.label_tag }}:</td>
                        <td class="cellLogin2">{{ form.password }}</td>
                    </tr>
                </table>
                <div id="divInputLogin">
                    <span id="errorMessage">{% if form.errors %}Authentication error{% endif %}</span>
                    <input id="inputLogin" type="submit" value="Login" />
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </section>
  <!--      <footer>Volunsport &copy; Alejandro Romero</footer>  -->
    </body>
</html>
