{% extends "base_index.html" %}

{% block content %}
<p>Cada día, el deporte tiene mayor peso en la sociedad y se organizan nuevos eventos deportivos en todo el mundo, siendo la figura del voluntario cada vez más importante. Volunsport es una organización que a través de su web tiene el objetivo de profesionalizar y centralizar el voluntariado deportivo.
</p>
<p>Volunsport trabaja con la mayor base de datos de voluntarios deportivos del mundo con el fin de satisfacer las necesidades que puedan tener los organizadores de eventos deportivos. Los voluntarios pueden conocer los eventos deportivos en los que participar e inscribirse rápidamente utilizando el CV Volunsport, mientras que los organizadores de eventos pueden externalizar su proceso de reclutamiento de voluntarios, ahorrando en tiempo y costes.
</p>
<p>Volunsport es la web del voluntariado deportivo donde se unen los organizadores de eventos y los voluntarios, y que trabaja para seguir mejorando el deporte.
</p>
{% endblock %}
