{% extends "base_index.html" %}

{% block content %}
<p>El Cómite Organizador Local (COL) anunció en el día de ayer la apertura de la inscripción para el Programa de Voluntarios, que seleccionará a miles de brasileños y extranjeros que deseen participar tanto en la Copa FIFA Confederaciones de 2013 como en la Copa Mundial de la FIFA 2014.</p>

<p>Los voluntarios trabajarán en los estadios y otras instalaciones oficiales y estarán divididos en los siguientes departamentos: comunicación, alimentación, transporte, protocolo, acreditación, tecnologías de la información, relaciones con la prensa, hospitalidad, asistencia médica y organización de las competiciones.</p>

<p>A continuación pueden encontrar el enlace a través del cual incribirse como voluntario en dichos eventos: <a href="http://es.fifa.com/worldcup/organisation/volunteers/welcome.html">http://es.fifa.com/worldcup/organisation/volunteers/welcome.html</a></p>
{% endblock %}
