{% extends "base_logged.html" %}

{% block menuizq %}
<ul>
<li><a href="{% url orgprofile %}">Perfil</a></li>
<li><a href="{% url orgnexteve %}">Próximos eventos</a></li>
<li><a href="{% url orgfineve %}">Eventos realizados</a></li>
<li><a href="{% url regeve %}">Crear evento</a></li>
</ul>
{% endblock %}

{% block content %}
{% if event_list %}
        <ul>
        {% for event in event_list %}
                <li><a href="/events/{{event.id}}">{{ event.name }}</a></li>
        {% endfor %}
        </ul>
{% else %}
        <p>No events are aviable.</p>
{% endif %}
{% endblock %}
