{% extends "base_logged.html" %}

{% block menuizq %}
<ul>
<li><a href="{% url volprofile volunteer.id %}">Perfil</a></li>
<li><a href="{% url nexteve volunteer.id %}">Próximos eventos</a></li>
<li><a href="{% url fineve volunteer.id %}">Eventos realizados</a></li>
<li><a href="{% url expvol volunteer.id %}">Experiencias</a></li>
</ul>
{% endblock %}

{% block content %}
<ul>
	<li>Nombre: {{ volunteer.first_name }} </li>
	<li>Apellido: {{ volunteer.last_name }}</li>
	<li><img src="{{volunteer.photo.url}} "></li>
	<li>Edad: {{ volunteer.age }}</li>
	<li>Nacionalidad: {{volunteer.nationality}}</li>
	{% if volunteer.disability %}
	<li>Grado de Discapacidad: {{ volunteer.disability_degree }}</li>	
	<li>Tutor: {{ volunteer.guardian }}</li>
	{% endif %}
	<li>Dirección: {{ volunteer.address }} Número: {{ volunteer.number }} Planta: {{ volunteer.floor }} {{ volunteer.letter }} 		<li>{{ volunteer.city }} {{ volunteer.state }} </li>
	<li>Pais:{{ volunteer.country }}</li>
	<li>Teléfono: {{ volunteer.phone_number }}</li>
	<li>Correo electrónico: {{ volunteer.email }}</li>
	<li>Situación laboral: {{ volunteer.working_situation }}</li>
	<li>Idiomas: {{ volunteer.languages }} </li>
	<li>Conocimientos de informatica: {{ volunteer.informatic_level }}</li>
	<li>Permiso de conducir: {{volunteer.drive_licences}}</li>
	<li>Deportes: {{volunteer.sports}}</li>
	<li>Experiencia: {{ volunteer.previous_experience }}</li>
	<li>Talla de pantalones: {{ volunteer.trousers_size }}</li>
	<li>Talla de camiseta: {{ volunteer.t_shirt_size }}</li>
	<li>Talla de sudadera: {{ volunteer.coat }}</li>
	<li>Talla de shorts: {{ volunteer.short }}</li>


</ul>
{% endblock %}
