{% extends "base_index.html" %}

{% block content %}
<h1>{{ event.name }}</h1>
<ul>

	
	<li>Foto: <img src="{{ event.photo.url }}"></li>
	<li>Fecha: {{ event.date }}</li>
	<li>Organizador: {{ event.organizer.first_name }} </li>	
	<li>Dirección: {{ event.address }} Número: {{ event.number }} Planta: {{ event.floor }} {{ event.letter }}</li>	{{ event.city }} 	{{ event.state }} </li>
	<li>Deporte: {{ event.sport }}</li>
	<li>Descripción: {{ event.description }}</li>
	<li>Voluntarios necesarios: {{ event.volunteers_need }} Plazas disponibles: {{ event.vacancies }}</li>
	<li>Fecha de inscripción: Del {{ event.open_event_registration }} al {{ event.close_event_registration }}</li>
	<li>Requisitos: {{ event.requirements }}</li>
	<li>Más información: {{ event.further_information }}</li>
	<li>Oportunidades : {{ event.opportunities }}</li>
	


</ul>
{% endblock %}
